In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("glassdoor_jobs.csv")
print(df.shape)
df.head(10)

(956, 15)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix"
6,6,Data Scientist,$54K-$93K (Glassdoor est.),Job Description\n\n**Please only local candida...,4.1,ClearOne Advantage\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1
7,7,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\nOver...,3.8,Logic20/20\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1
8,8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\n\nThe Research Scientist I will be ta...,3.3,Rochester Regional Health\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1
9,9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel"

## Salary cleaning

In [3]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'hour' in x.lower() else 0)
df.hourly.head()

0    0
1    0
2    0
3    0
4    0
Name: hourly, dtype: int64

In [4]:
df['emp_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer' in x.lower() else 0)
df.emp_provided.head()

0    0
1    0
2    0
3    0
4    0
Name: emp_provided, dtype: int64

In [27]:
df.drop(df[df['Salary Estimate'] == '-1'].index, inplace=True)
df.shape

(742, 22)

In [23]:
#53𝐾− 91K (Glassdoor est.)
df['salary_trimmed'] = df.apply(lambda x: re.sub(r'.*\$(\d+)-\$(\d+).*', r'\1-\2', x['Salary Estimate']) if x['hourly'] 
                                else re.sub(r'.*\$(\d+)K\s*-\s*\$(\d+)K.*', r'\1-\2', x['Salary Estimate']), axis=1)
df.salary_trimmed.head(30)

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
5      71-119
6       54-93
7      86-142
8       38-84
9     120-160
10    126-201
11     64-106
12    106-172
13      46-85
14     83-144
15    102-190
16     67-137
17    118-189
18    110-175
19     64-111
20     81-130
21     73-119
22     86-139
23     63-105
25    109-177
26     63-110
27     75-124
28      34-61
29     63-105
30      80-90
Name: salary_trimmed, dtype: object

In [25]:
df['min_salary'] = df.apply(lambda x: float(x['salary_trimmed'].split('-')[0])*2 if x['hourly']
                                      else float(x['salary_trimmed'].split('-')[0]), axis=1)

In [26]:
df['max_salary'] = df.apply(lambda x: float(x['salary_trimmed'].split('-')[1])*2 if x['hourly']
                                      else float(x['salary_trimmed'].split('-')[1]), axis=1)

## State

In [6]:
df['State'] = df['Location'].apply(lambda x: x.split(',')[1])

IndexError: list index out of range

## Age

In [7]:
df['Age'] = 2021 - df['Founded']
df['Age'].head()

0    48
1    37
2    11
3    56
4    23
Name: Age, dtype: int64

## Headquarters same as location

In [8]:
df['work_in_headquarter'] = df['Location'] == df['Headquarters']
df['work_in_headquarter'].head()

0    False
1    False
2     True
3     True
4     True
Name: work_in_headquarter, dtype: bool

## n_competitors

In [28]:
df['n_competitors'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != -1
                                                        else -1)

## Revenue

In [29]:
df['Revenue'].value_counts()

Unknown / Non-Applicable            203
$10+ billion (USD)                  124
$100 to $500 million (USD)           91
$1 to $2 billion (USD)               60
$500 million to $1 billion (USD)     57
$50 to $100 million (USD)            46
$25 to $50 million (USD)             40
$2 to $5 billion (USD)               39
$10 to $25 million (USD)             32
$5 to $10 billion (USD)              19
$5 to $10 million (USD)              18
$1 to $5 million (USD)                8
Less than $1 million (USD)            4
-1                                    1
Name: Revenue, dtype: int64

In [31]:
d = {'Unknown / Non-Applicable': 0, 'Less than $1 million (USD)': 1, '$1 to $5 million (USD)': 2,
     '$5 to $10 million (USD)': 3, '$10 to $25 million (USD)': 4, '$25 to $50 million (USD)': 5,
     '$50 to $100 million (USD)': 6, '$100 to $500 million (USD)': 7, '$500 million to $1 billion (USD)': 8,
     '$1 to $2 billion (USD)': 9, '$2 to $5 billion (USD)': 10, '$5 to $10 billion (USD)': 11, '$10+ billion (USD)': 12}
df.drop(df[df['Revenue'] == 1].index, inplace=True)
df['Revenue_class'] = df['Revenue'].map(d)

## Size

In [30]:
df['Size'].value_counts()

1001 to 5000 employees     150
501 to 1000 employees      134
10000+ employees           130
201 to 500 employees       117
51 to 200 employees         94
5001 to 10000 employees     76
1 to 50 employees           31
Unknown                      9
-1                           1
Name: Size, dtype: int64

In [32]:
d = {'Unknown': 0, '1 to 50 employees': 1, '51 to 200 employees': 2, '201 to 500 employees': 3,
     '501 to 1000 employees': 4, '1001 to 5000 employees': 5, '5001 to 10000 employees': 6, '10000+ employees': 7}
df.drop(df[df['Size'] == -1].index, inplace=True)
df['Size_class'] = df['Size'].map(d)

## Drop unnamed: 0

In [34]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,hourly,emp_provided,salary_trimmed,Age,work_in_headquarter,min_salary,max_salary,n_competitors,Revenue_class,Size_class
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,0,0,53-91,48,False,53.0,91.0,1,6.0,4.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,0,0,63-112,37,False,63.0,112.0,1,10.0,7.0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,0,0,80-90,11,True,80.0,90.0,1,7.0,4.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,0,0,56-97,56,True,56.0,97.0,3,8.0,5.0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,0,0,86-143,23,True,86.0,143.0,3,0.0,2.0

In [35]:
df.to_csv('glassdoor_jobs_refined.csv')

In [8]:
df['Job Description'][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
docs = vectorizer.fit_transform(df['Job Description'][0:5])
vectorizer.get_feature_names()

['03',
 '04',
 '05_',
 '100',
 '26_',
 '27th',
 '30',
 '310709',
 '_2020',
 '_biological',
 '_closing',
 '_directorate',
 '_earth',
 '_group',
 '_job',
 '_opening',
 '_please',
 '_scientists',
 'abilities',
 'ability',
 'able',
 'about',
 'abreast',
 'accept',
 'access',
 'achieve',
 'across',
 'action',
 'actionable',
 'actively',
 'ad',
 'added',
 'address',
 'adoption',
 'advanced',
 'affinity',
 'affirmative',
 'afs',
 'against',
 'age',
 'agencies',
 'agent',
 'ai',
 'albuquerque',
 'algorithm',
 'algorithmic',
 'algorithms',
 'all',
 'along',
 'also',
 'an',
 'analyses',
 'analysis',
 'analytic',
 'analytical',
 'analytics',
 'analyze',
 'analyzing',
 'and',
 'anomalies',
 'anomaly',
 'any',
 'appended',
 'applicant',
 'application',
 'applications',
 'applied',
 'apply',
 'applying',
 'approaches',
 'appropriate',
 'aptitude',
 'architecture',
 'are',
 'around',
 'art',
 'artificial',
 'as',
 'assessment',
 'asset',
 'assignments',
 'assist',
 'assistance',
 'assists',
 'associated',
 'at',
 'attention',
 'audience',
 'author',
 'automated',
 'automation',
 'autonomy',
 'aware',
 'awareness',
 'ba',
 'bachelor',
 'background',
 'based',
 'bases',
 'basic',
 'basis',
 'battelle',
 'bay',
 'bayes',
 'be',
 'because',
 'become',
 'before',
 'behavior',
 'being',
 'benefits',
 'best',
 'better',
 'bi',
 'big',
 'biological',
 'biology',
 'bmi',
 'boosting',
 'both',
 'breakdown',
 'brightest',
 'broad',
 'bs',
 'bss',
 'budget',
 'build',
 'building',
 'builds',
 'business',
 'by',
 'campaign',
 'campaigns',
 'can',
 'candidate',
 'candidates',
 'capabilities',
 'capable',
 'captured',
 'care',
 'category',
 'certain',
 'challenging',
 'change',
 'check',
 'chemical',
 'cheminformatics',
 'chemistry',
 'circumstances',
 'citizenship',
 'class',
 'classifiers',
 'clean',
 'cleaning',
 'cleanse',
 'cleansing',
 'clear',
 'clearance',
 'clearly',
 'clients',
 'clinical',
 'closely',
 'cloud',
 'collaboration',
 'collaborative',
 'colleagues',
 'collect',
 'collection',
 'collegial',
 'color',
 'combining',
 'come',
 'command',
 'commensurate',
 'communicate',
 'communicates',
 'communication',
 'communications',
 'communicator',
 'company',
 'compare',
 'competitive',
 'complex',
 'compound',
 'comprehensive',
 'computational',
 'computer',
 'computing',
 'concepts',
 'confronts',
 'connect',
 'consolidate',
 'constant',
 'consumer',
 'consumers',
 'contractors',
 'contrast',
 'contribue',
 'control',
 'cooperatively',
 'coordinate',
 'core',
 'corporation',
 'costs',
 'crafting',
 'create',
 'created',
 'creates',
 'creating',
 'creative',
 'credit',
 'curious',
 'current',
 'currently',
 'customer',
 'customers',
 'customized',
 'cutting',
 'd3',
 'dashboards',
 'data',
 'database',
 'datasets',
 'date',
 'day',
 'deadlines',
 'debugging',
 'decisions',
 'deep',
 'defense',
 'define',
 'degree',
 'delivering',
 'delivery',
 'demographic',
 'demonstrate',
 'dental',
 'department',
 'deploys',
 'derive',
 'description',
 'design',
 'designed',
 'designing',
 'desired',
 'detail',
 'detect',
 'detection',
 'develop',
 'development',
 'develops',
 'different',
 'difficult',
 'dimensional',
 'direction',
 'directorate',
 'disability',
 'discipline',
 'disclose',
 'discoveries',
 'discovery',
 'discriminate',
 'disruptive',
 'dissemination',
 'distributed',
 'diverse',
 'diversity',
 'division',
 'do',
 'documentation',
 'dod',
 'doe',
 'doing',
 'drive',
 'driven',
 'drives',
 'driving',
 'drug',
 'duties',
 'earth',
 'economics',
 'ed',
 'edge',
 'education',
 'effective',
 'effectively',
 'effects',
 'efficiencies',
 'effort',
 'efforts',
 'embedded',
 'employee',
 'employees',
 'employer',
 'employment',
 'enable',
 'end',
 'energy',
 'engineering',
 'enhance',
 'enhances',
 'enhancing',
 'ensure',
 'enterprise',
 'entrepreneurial',
 'environment',
 'equal',
 'especially',
 'essential',
 'etc',
 'evaluate',
 'every',
 'excel',
 'excellent',
 'exceptional',
 'execute',
 'existing',
 'experience',
 'expert',
 'expertise',
 'explain',
 'exploratory',
 'exposure',
 'extend',
 'extending',
 'extends',
 'external',
 'extraction',
 'facilitate',
 'failures',
 'familiar',
 'familiarity',
 'family',
 'fast',
 'features',
 'federal',
 'feedback',
 'field',
 'fields',
 'financial',
 'find',
 'findings',
 'first',
 'five',
 'flexible',
 'following',
 'for',
 'forecast',
 'forecasting',
 'forecasts',
 'foreign',
 'forensics',
 'forest',
 'formulating',
 'fortune',
 'four',
 'fp',
 'from',
 'functionality',
 'funded',
 'gender',
 'general',
 'generate',
 'generates',
 'generation',
 'generous',
 'genetic',
 'give',
 'gov',
 'government',
 'gpa',
 'gradient',
 'graphics',
 'great',
 'group',
 'growth',
 'had',
 'have',
 'health',
 'healthcare',
 'help',
 'high',
 'higher',
 'highly',
 'hire',
 'hiring',
 'hive',
 'hoc',
 'holiday',
 'hours',
 'house',
 'human',
 'id',
 'ideas',
 'identification',
 'identify',
 'identifying',
 'identity',
 'if',
 'ii',
 'iii',
 'impact',
 'implement',
 'implementing',
 'improve',
 'improved',
 'improvement',
 'improvements',
 'improving',
 'imputation',
 'in',
 'inc',
 'include',
 'includes',
 'including',
 'inclusive',
 'increase',
 'independently',
 'industry',
 'inferred',
 'information',
 'infrastructure',
 'initiatives',
 'innovation',
 'innovative',
 'innovators',
 'insights',
 'institute',
 'insurance',
 'integrate',
 'integrated',
 'integration',
 'integrative',
 'integrity',
 'intelligence',
 'intermediate',
 'into',
 'investments',
 'invests',
 'is',
 'issues',
 'it',
 'its',
 'iv',
 'java',
 'job',
 'jobs',
 'join',
 'js',
 'just',
 'keen',
 'key',
 'knowbe4',
 'knowledge',
 'known',
 'kpi',
 'laboratory',
 'language',
 'languages',
 'large',
 'largest',
 'last',
 'lead',
 'leaders',
 'leadership',
 'leading',
 'learn',
 'learning',
 'least',
 'legal',
 'level',
 'levels',
 'leverage',
 'leveraging',
 'life',
 'like',
 'line',
 'literacy',
 'literature',
 'll',
 'lms',
 'local',
 'location',
 'long',
 'ma',
 'machine',
 'made',
 'magazine',
 'maintain',
 'maintaining',
 'maintains',
 'make',
 'manage',
 'management',
 'manager',
 'manages',
 'manipulate',
 'manipulation',
 'manner',
 'mar',
 'marital',
 'market',
 'marketing',
 'maryland',
 'master',
 'math',
 'mathematical',
 'mathematics',
 'matlab',
 'matplotlib',
 'may',
 'measure',
 'measurement',
 'medical',
 'meet',
 'members',
 'memorial',
 'metabolomics',
 'methodologies',
 'methodology',
 'methods',
 'metric',
 'metrics',
 'microsoft',
 'mine',
 'minimum',
 'mining',
 'ml',
 'mobilize',
 'model',
 'modeling',
 'models',
 'molecule',
 'molecules',
 'more',
 'most',
 'motivated',
 'ms',
 'multidisciplinary',
 'must',
 'mysql',
 'national',
 'nations',
 'nationwide',
 'natural',
 'naïve',
 'necessary',
 'need',
 'needed',
 'needs',
 'networks',
 'new',
 'nm',
 'nmda',
 'nn',
 'no',
 'none',
 'northwest',
 'not',
 'note',
 'novel',
 'now',
 'objectives',
 'obtain',
 'of',
 'offer',
 'offered',
 'omics',
 'on',
 'one',
 'ongoing',
 'open',
 'operations',
 'opportunities',
 'opportunity',
 'optimal',
 'optimization',
 'optimizing',
 'or',
 'orally',
 'organization',
 'organizations',
 'orientation',
 'oriented',
 'origin',
 'origins',
 'other',
 'our',
 'outcomes',
 'outlook',
 'oversee',
 'own',
 'owned',
 'paced',
 'pacific',
 'package',
 'paper',
 'papers',
 'part',
 'participant',
 'participation',
 'party',
 'passion',
 'patterns',
 'pay',
 'peer',
 'people',
 'per',
 'performance',
 'performs',
 'ph',
 'phd',
 'phishing',
 'physics',
 'pilot',
 'pilots',
 'place',
 'placed',
 'plan',
 'plans',
 'platform',
 'please',
 'plus',
 'pnnl',
 'portfolio',
 'pose',
 'position',
 'postgresql',
 'potential',
 'power',
 'powerpoint',
 'precisely',
 'predictive',
 'preferably',
 'preferred',
 'prescriptive',
 'presentation',
 'presenting',
 'president',
 'pressure',
 'previous',
 'primary',
 'principal',
 'prior',
 'priorities',
 'prioritize',
 'priority',
 'private',
 'problem',
 'problems',
 'procedure',
 'procedures',
 'process',
 'processes',
 'processing',
 'produce',
 'products',
 'proficient',
 'profitability',
 'program',
 'programming',
 'programs',
 'prohibits',
 'project',
 'projection',
 'projects',
 'proof',
 'proposals',
 'protected',
 'prototype',
 'proven',
 'provide',
 'provided',
 'provider',
 'provides',
 'public',
 'published',
 'python',
 'qualifications',
 'quality',
 'quantitative',
 'quarter',
 'queries',
 'query',
 'questions',
 'quickly',
 'race',
 'random',
 'ranked',
 'rapidminer',
 'rate',
 'real',
 'reasoning',
 'receptor',
 'recognize',
 'recognizing',
 'record',
 'recruitment',
 'reduce',
 'reduced',
 'regard',
 'regression',
 'regularly',
 'related',
 'relationships',
 'relevant',
 'religion',
 'report',
 'reports',
 'requests',
 'required',
 'requires',
 'research',
 'resource',
 'responsibilities',
 'responsible',
 'results',
 'retention',
 'retirement',
 'revenue',
 'reviewed',
 'right',
 'robust',
 'role',
 'routines',
 'row',
 'salaries',
 'sas',
 'savvy',
 'scale',
 'scaling',
 'schedule',
 'school',
 'science',
 'science_',
 'sciences',
 'sciences_',
 'scientific',
 'scientist',
 'scoring',
 'scrubbing',
 'secondary',
 'secret',
 'security',
 'seeking',
 'seeks',
 'selecting',
 'self',
 'set',
 'sets',
 'setting',
 'settings',
 'sex',
 'sexual',
 'shoot',
 'short',
 'should',
 'sick',
 'significant',
 'similar',
 'simulated',
 'simulation',
 'skilled',
 'skills',
 'small',
 'smart',
 'so',
 'social',
 'software',
 'solutions',
 'solve',
 'solving',
 'source',
 'sources',
 'spark',
 'spend',
 'sql',
 'stable',
 'staff',
 'stakeholders',
 'state',
 'states',
 'statistical',
 'statistics',
 'status',
 'stays',
 'stories',
 'strategic',
 'strategies',
 'strong',
 'strongly',
 'structured',
 'submitted',
 'substituted',
 'success',
 'successful',
 'such',
 'summary',
 'support',
 'support_',
 'supported',
 'supports',
 'survey',
 'svm',
 'system',
 'systems',
 'tableau',
 'talent',
 'tampa',
 'target',
 'targeting',
 'targets',
 'task',
 'tasks',
 'team',
 'tech',
 'technical',
 'technically',
 'techniques',
 'technologies',
 'technology',
 'tecolote',
 'temporal',
 'tens',
 'term',
 'test',
 'tested',
 'testing',
 'that',
 'the',
 'their',
 'them',
 'these',
 'they',
 'third',
 'this',
 'thousands',
 'three',
 'through',
 'throughout',
 'tight',
 'time',
 'timeline',
 'to',
 'tools',
 'top',
 'tracking',
 'training',
 'transformation',
 'translate',
 'trends',
 'triaging',
 'trouble',
 'tuition',
 'two',
 'umms',
 'uncertainty',
 'understanding',
 'uniquely',
 'united',
 'university',
 'unstructured',
 'up',
 'updates',
 'use',
 'used',
 'users',
 'using',
 'utilizing',
 'vacation',
 'validate',
 'validated',
 'value',
 'valued',
 'various',
 'verbal',
 'verify',
 'verifying',
 'very',
 'veteran',
 'vice',
 'visualization',
 'visualizations',
 'visualize',
 'vp',
 'warehouse',
 'was',
 'ways',
 'we',
 'week',
 'weka',
 'well',
 'what',
 'when',
 'where',
 'which',
 'will',
 'willingness',
 'with',
 'within',
 'without',
 'word',
 'work',
 'workforce',
 'working',
 'workplace',
 'workplaces',
 'works',
 'world',
 'worldwide',
 'write',
 'writing',
 'written',
 'years',
 'you',
 'your']

In [20]:
from gensim.t

<5x916 sparse matrix of type '<class 'numpy.int64'>'
	with 1370 stored elements in Compressed Sparse Row format>